<form class="ingredient-form">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Ingredient</mat-label>
      <input matInput type="text" placeholder="Ex. Pizza" [value]="ingredient()?.name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Amount</mat-label>
      <input matInput type="number" [value]="ingredient()?.amount">
    </mat-form-field>
  </div>
  <div class="form-group">
    <button mat-flat-button>Add Ingredients</button>
    <button mat-flat-button class="btn-danger">Delete</button>
    <button mat-button>Clear</button>
  </div>
</form>